{% extends 'base.html' %}
{% block content %}
<html>
	<head>
		<title>Contact Us</title>
		<style>
			.contact-info {
				margin: 20px;
				padding: 50px;
				border: 1px solid #b15b29;
				border-radius: 10px;
				background-color: #27262658;
			}
			p {
				margin: 0;
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>
		<h1>Contact Us</h1>
		<div class="contact-info">
			<p>Email: mypizza@projectpizza.com</p>
			<p>Phone: (123) 456-7890</p>
			<p>Address: 123 James St, Dublin Ireland</p>
		</div>
	</body>
</html>

{% endblock %}